<div class="spacer"></div>
<div class="arrivals-container">
    <div class="arrival-item">
        <img src="newarrivals.jpeg" alt="New Arrivals">
        <div class="arrival-text">
            <h3>New Arrivals</h3>
            <a href="#" class="arrival-button">Shop the Latest</a>
        </div>
    </div>
    <div class="arrival-item">
        <img src="/Photos/BestSeller/bestsellers.jpeg" alt="Best-Sellers">
        <div class="arrival-text">
            <h3>Best-Sellers</h3>
            <a href="#" class="arrival-button">Shop Your Favorites</a>
        </div>
    </div>
</div>
