<div class="shop-category-box">
    <h2>shop by category</h2>
</div>
<div class="category-container">
    <div class="category-item">
        <img src="/Photos/Dress/dressmain.jpg" alt="Shirts">
        <p>Dresses</p>
    </div>
    <div class="category-item">
        <img src="/Photos/Top & Tees/teemain.png" alt="Tees">
        <p>Tops & Tees</p>
    </div>
    <div class="category-item">
        <img src="/Photos/Pants/JeansMain.jpg" alt="Pants">
        <p>Pants</p>
    </div>
    <div class="category-item">
        <img src="footwear.jpeg" alt="Outerwear">
        <p>Footwear</p>
    </div>
</div>
